body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
#sidebar {
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: #e8e7e7;
    border-right: 2px solid #ddd;
}
#sidebar-container {
    margin: 5px;
}
#map {
    flex-grow: 1;
    height: 100vh;
}
#file-input {
    padding: 10px;
}